[Unit]
Description=Delcia Flask server
After=network.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/delcia_distrib/delcia_web_deamon.sh
ExecStop=/home/ubuntu/delcia_distrib/delcia_web_stop.sh
WorkingDirectory=/home/ubuntu/delcia_distrib/
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
