aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
charset-normalizer==2.1.0
click==8.1.3
dateparser==1.1.1
Flask==2.2.0
frozenlist==1.3.0
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
marshmallow==3.17.0
marshmallow-dataclass==8.5.8
multidict==6.0.2
mypy-extensions==0.4.3
packaging==21.3
PyJWT==2.4.0
pyparsing==3.0.9
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.2
renault-api==0.1.11
six==1.16.0
tabulate==0.8.10
typing-inspect==0.7.1
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
Werkzeug==2.2.1
yarl==1.7.2
zipp==3.8.1
